In [1]:
import pandas as pd
import os

In [2]:
files = os.listdir('measurements')
files = sorted([f for f in files if f.startswith('data2neo') or f.startswith('csv')])
files= [(f.split('_')[0],f.split('_')[1], f) for f in files]

In [3]:
df = pd.DataFrame(columns=['algo', 'time', 'repo'])
for algo, repo, f in files:
    df2 = pd.read_csv('measurements/' + f, header=None, names=['time'])
    df2['repo'] = repo
    df2['algo'] = algo
    if 'csv' in f:
        # just first row (second row is without csv export)
        df2 = df2.iloc[:1]

    df = pd.concat([df, df2])
df.reset_index(drop=True, inplace=True)
df

/tmp/ipykernel_657/3291482758.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, df2])

        algo         time        repo
0        csv   539.075552     ansible
1        csv   526.818370     ansible
2        csv   527.507720     ansible
3        csv   527.467579     ansible
4        csv   513.697299     ansible
5        csv  2362.920434   openshift
6        csv  2367.889648   openshift
7        csv  2339.522285   openshift
8        csv  2451.450297   openshift
9        csv  2401.376687   openshift
10       csv  1697.479318  tensorflow
11       csv  1637.207479  tensorflow
12       csv  1602.881077  tensorflow
13       csv  1608.405531  tensorflow
14       csv  1890.910121  tensorflow
15  data2neo  1439.766728     ansible
16  data2neo  1398.239672     ansible
17  data2neo  1434.057235     ansible
18  data2neo  1391.313789     ansible
19  data2neo  1397.212521     ansible
20  data2neo  7088.165359   openshift
21  data2neo  6701.750777   openshift
22  data2neo  6714.474944   openshift
23  data2neo  6720.122206   openshift
24  data2neo  6654.693287   openshift
25  data2neo  4623.411746  tensorflow
26  data2neo  4449.818719  tensorflow
27  data2neo  4510.525988  tensorflow
28  data2neo  4401.526881  tensorflow
29  data2neo  4463.967881  tensorflow

In [4]:
# create table with mean and std
results = df.groupby(['repo', 'algo']).agg(['mean', 'std'])
# convert to minutes
results['time'] = results['time'] / 60
results.T

repo        ansible             openshift             tensorflow
algo            csv   data2neo        csv    data2neo        csv   data2neo
time mean  8.781888  23.535300  39.743865  112.930689  28.122945  74.830837
     std   0.149827   0.381279   0.723209    2.941360   1.996887   1.402864